<li class='library__film-item' id='watched' data-id={{id}}>
  <img
    class='library__main-image'
    loading='lazy'
    src='{{src}}'
    alt='{{name}}'
  />
  <div class='library__tex-item'>
    <p class='library__item-name'>{{name}}</p>
    <div class='library__info'>
      <p class='library__item-genre'>{{genr}}</p>
      <p class='library__item-year'>{{year}}<span
          class='vote'
        >{{vote}}</span></p>
    </div>
  </div>
  <button
    class='library__btn-list-delete'
    id='delete'
    type='button'
    title='delete'
  >
  </button>
</li>